<!-- Header_Area -->
<section>
<nav class="navbar navbar-default header_aera affix-top" id="">
   <div class="container py-80">
      <!-- searchForm -->
      <!-- End searchForm -->
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row ">
         <div class="col-md-12 p0 text-center">
            <div class="navbar-headers">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#min_navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>               
               <a routerLink="/" routerLinkActive="active">Simple Blog</a>
            </div>
         </div>
         <div class="col-md-12 p0 my_50">
            <div class="collapse navbar-collapse" id="min_navbar">
               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown submenu">
                     <a routerLink="/" routerLinkActive="active">Simple Blog</a>
                  </li>
                  <li class="dropdown submenu">
                     <a routerLink="/addblog" routerLinkActive="active">Add Blog</a>
                  </li>                  
                  <li class="dropdown submenu">
                     <a routerLink="/contact" routerLinkActive="active">Contact</a>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
      </div>
   </div>
   <!-- /.container -->
</nav>
<!-- End Header_Area -->