<!-- #footer-section-Start --> 
<section class="text-center py-70">
   <div class="container ">
      <div class="row">
         <div class="col-md-12">
            <div class="logo">
               <a class=" logo-blogs" href="index.html"> blog theme</a>
            </div>
            <p class="font-16">Created by <span> <a href="">     Meks </a></span>· Powered by <span> <a href="">     WordPress </a></span></p>
            <p>All rights reserved</p>
         </div>
      </div>
   </div>
</section>
<!-- #footer-section-End -->