<!-- #banner start -->
<div class="container box-shadow ">
   <section id="banner" class="">
      <div class="container ">
         <div class="row">
            <!-- #banner-top-heading start -->            
            <div class="col-md-12 py-100">
               <div class="tittle wow fadeInUp pb-90" style="visibility: visible; animation-name: fadeInUp;">
                  <h2>LATEST STORIES</h2>
               </div>
               <!-- # End banner-top-heading  -->
               <!-- #banner-sub-heading start -->        
               <div class="tittles  pb-90" >
                  <h2 class=" trendify-heading middle-align "><span class="lg text-left">K</span><span class="sm section-headings  text-left site-c "> <a href=""> Knights, I bid you welcome to<br> your new home  </a> </span></h2>
               </div>
               <!-- #banner-sub-heading End --> 
               <div class="date-bottom-blog">
                  <p class=" date-bottom-blog-text"> By <span><a href="" class="outline"> Madison Barnett   </a> </span> /  In  <span><a href="" class="outline">    Technology </a> </span> /  2 Min Read      </p>
               </div>
               <div class="mt-50">
                  <p class="small-text-blog">
                     Continually evisculate inexpensive initiatives for business resources. Monotonectally brand market positioning niche markets with revolutionary alignments. Professionally underwhelm turnkey scenarios whereas high-payoff catalysts for change. Quickly negotiate top-line relationships via customized bandwidth. Competently reintermediate resource sucking manufactured products before seamless
                     Continually evisculate inexpensive initiatives for business resources. Monotonectally brand market positioning niche markets with revolutionary alignments. Professionally underwhelm turnkey scenarios whereas high-payoff catalysts for change. Quickly negotiate top-line relationships via customized bandwidth. Competently reintermediate resource sucking manufactured products before seamless... 
                  </p>
                  <div class="button-bottom">
                     <a routerLink="/blog/blog1" class="button-left"> read more  </a>
                  </div>
                  <div class="tittles  pb-90">
                     <h2 class=" trendify-heading middle-align "><span class="lg text-left">N</span><span class="sm section-headings  text-left site-c "> <a href="">Now leave before I am forced to <br>taunt you</a> </span></h2>
                  </div>
                  <div class="date-bottom-blog">
                     <p class=" date-bottom-blog-text"> By <span><a href="" class="outline"> Madison Barnett   </a> </span> /  In  <span><a href="" class="outline">    Technology </a> </span> /  2 Min Read      </p>
                  </div>
                  <p class="small-text-blog">
                     Continually evisculate inexpensive initiatives for business resources. Monotonectally brand market positioning niche markets with revolutionary alignments. Professionally underwhelm turnkey scenarios whereas high-payoff catalysts for change. Quickly negotiate top-line relationships via customized bandwidth. Competently reintermediate resource sucking manufactured products before seamless
                     Continually evisculate inexpensive initiatives for business resources. Monotonectally brand market positioning niche markets with revolutionary alignments. Professionally underwhelm turnkey scenarios whereas high-payoff catalysts for change. Quickly negotiate top-line relationships via customized bandwidth. Competently reintermediate resource sucking manufactured products before seamless... 
                  </p>
                  <div class="button-bottom">
                     <a routerLink="/blog/blog2" class="button-left"> read more  </a>
                  </div>
               </div>
               <div class="tittles  pb-90" >
                  <h2 class=" trendify-heading middle-align "><span class="lg text-left">f</span><span class="sm section-headings  text-left site-c "> <a href="">     Finding a needle in a haystack  <br>isn’t hard</a> </span></h2>
               </div>
               <div class="date-bottom-blog">
                  <p class=" date-bottom-blog-text"> By <span><a href="" class="outline"> Madison Barnett   </a> </span> /  In  <span><a href="" class="outline">    Technology </a> </span> /  2 Min Read      </p>
               </div>
               <p class="small-text-blog">
                  Continually evisculate inexpensive initiatives for business resources. Monotonectally brand market positioning niche markets with revolutionary alignments. Professionally underwhelm turnkey scenarios whereas high-payoff catalysts for change. Quickly negotiate top-line relationships via customized bandwidth. Competently reintermediate resource sucking manufactured products before seamless
                  Continually evisculate inexpensive initiatives for business resources. Monotonectally brand market positioning niche markets with revolutionary alignments. Professionally underwhelm turnkey scenarios whereas high-payoff catalysts for change. Quickly negotiate top-line relationships via customized bandwidth. Competently reintermediate resource sucking manufactured products before seamless... 
               </p>
               <div class="button-bottom">
                  <a routerLink="/blog/blog3" class="button-left"> read more  </a>
               </div>
            </div>
            <!-- /#banner-text End -->
         </div>
      </div>
   </section>
   <!-- #banner-section-End --> 
</div>